h1{text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.shop{  display: flex;
	height: 500px;
	width: 800px;
	flex-wrap: wrap;
	align-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px 10px 10px 10px;
}
.shop > div {background-color: gold;
	width: 150px;
	margin: 5px;
	text-align: center;
  line-height: 75px;
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(90deg, orange, yellow);
 }
.shop img{max-width: 40px;
max-height: 40px;
margin-top: -40px;}
.shop > div h4{margin-top: -20px;}
.shop > div > i {margin-top: -10px;
line-height: 40px;}
.menu {
  overflow: hidden;
  background-color: yellow; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, orange, salmon);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 15px;
}
.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
input[type="submit"]{
  cursor:pointer;
 }
.menu span{float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
font-weight: bold;}
.menu a:hover {
  background: #ddd;
  color: black;
}
.menu .shopping_cart{float:right;
  text-align: right;}

.menu .admin{color: red;
font-weight: bold;}
