body {
    background-color: #505050;
}

.content {
    background-color: #909090;
    font-family: Verdana;
    border-radius: 10px;
    box-shadow: 9px 9px 9px black;
}

.main {
    display: flex;
    justify-content: center;
}

#header {
    position: relative;
}

#header img {
    position: absolute;
}

#header {
    width: 75%;
    height: 135px;
    margin: auto;
}

#left-column {
    text-align: center;
}

#center {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 700px;
    margin: 0 30px 0 30px;
}

.oeil {
    border: 5px solid red;
    border-radius: 5px;
}

#right-column {
    text-align: center;
}

#left-column, #right-column {
    display: inline-block;
    min-width: 120px;
    width: 7%;
    height: 480px;
    padding: 15px 0 15px 0;
}

.top {
    top: 10px;
}

.right {
    right: 10px;
}

.bottom {
    bottom: 10px;
}

.left {
    left: 10px;
}

.loupe {
    right: 25px;
}

.brique {
    background-image: url("resources/brick.jpg");
    width: 75%;
    height: 70px;
    max-width: 120px;
    margin: auto;
}

#center a {
    position: absolute;
}

.chaise {
    width: 15%;
    height: 40%;
    top: 55%;
    right: 53%;
}

.ecran {
    width: 20%;
    height: 25%;
    top: 55%;
    right: 3%;
}

#left-column, #right-column, #center {
    margin-top: 20px;
    vertical-align: top;
}

#gui {
    position: relative;
    background-color: lightgreen;
    width: 27%;
    height: 200px;
    top: -100px;
    left: 10%;
}

p {
    font-size: 0.8vw;
    padding: 10px 0 0 10px;
    margin: 0;
}

input {
    width: 75%;
    margin-left: 10px;
}

.entrez {
    font-size: 1.8vw;
    font-family: Georgia, Monospaced;
}

.ordinateurs {
    text-shadow: 5px 5px 5px red;
}

.sub{-webkit-appearance: none;
height: 20px;
background-color: rgb(220, 220, 220);
font-size: 13px;}